DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/skywrite?schema=public"
JWT_SECRET="gere-um-segredo-de-alta-entropia-por-ambiente"
PORT=4000
CLIENT_ORIGIN="http://localhost:5175"
CLIENT_DIST="../client/dist"
AI_GATEWAY_URL="http://127.0.0.1:9012"
AI_GATEWAY_KEY=""
AI_GATEWAY_MODEL="llama-3.3-70b-versatile"
AI_GATEWAY_VERIFY_MODEL=""
CROSSREF_MAILTO="support@skywrite.app"
B2_ENDPOINT="https://s3.us-west-004.backblazeb2.com"
B2_REGION="us-west-004"
B2_KEY_ID=""
B2_APP_KEY=""
B2_BUCKET=""
LANGUAGETOOL_URL="https://api.languagetool.org"
ORIGINALITY_API_URL=""
ORIGINALITY_API_KEY=""
